.mainbox{
    margin: auto;
    height: 60vh;
    width: 100%;
    background-color: rgb(23, 50, 67);
}

.background{
    z-index: -9999;
    position: fixed;
    width: 100vw;
}

.pic1{
    width: 60vh;

}

.introText{
    position: fixed;
    color: white;
    word-wrap: break-word;
    margin-top: 5vh;
    margin-right: 9vw;
    margin-left: 9vw;
    font-size: 2vh;
    text-align: center;

}

.numbers{
  color: white;
  text-align: center;
  font-size: 10vh;
  position: absolute;
  margin-left: 25vw;
  margin-top: 30vh;

}




